.modal-container {
  width: 520px;
  height: 280px;
  background-color: rgb(255, 255, 255);
  padding: 1px 40px;
}

.buttons-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  position: relative;
  top: 30px;
}

.title {
  color: #2196f3;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
