<mat-card class="modal-container">
  <h2 class="title">{{ TITLE }}</h2>
  <form class="form" [formGroup]="createBookForm">
    <input-field type="text" [label]="TITLE_FIELD" [control]="formControls['title']"></input-field>
    <section class="row">
      <select-dropdown [label]="CATEGORY" [list]="list" [control]="formControls['category']"></select-dropdown>
      <input-field type="number" [label]="QUANTITY" [control]="formControls['quantity']"></input-field>
    </section>
  </form>
  <section class="buttons-section">
    <reusable-button [label]="CREATE_LABEL" (onClick)="onCreateBook()"></reusable-button>
    <reusable-button [label]="CANCEL_LABEL" func="secondary" (onClick)="onCancel()"></reusable-button>
  </section>
</mat-card>
