<section class="dfd">
  <label>{{ ITEMS_PAGE_LABEL }}</label>
  <select (change)="changePageSize($event)">
    <option style="background-color: blanchedalmond" [value]="4">4</option>
    <option style="background-color: blanchedalmond" [value]="8">8</option>
    <option style="background-color: blanchedalmond" [value]="12">12</option>
  </select>
  <label>{{ PAGE_NUMBER_LABEL }}</label>
  <mat-icon fontIcon="chevron_left" (click)="previousPage()"></mat-icon>
  <mat-icon fontIcon="chevron_right" (click)="nextPage()"></mat-icon>
</section>
