<section class="container">
  <label class="items-page">{{ ITEMS_PAGE_LABEL }}</label>
  <select class="select" (change)="changePageSize($event)">
    <option style="background-color: blanchedalmond" [value]="4">4</option>
    <option style="background-color: blanchedalmond" [value]="8">8</option>
    <option style="background-color: blanchedalmond" [value]="12">12</option>
  </select>
  <label class="page-number">{{ PAGE_NUMBER_LABEL }}</label>
  <section class="buttons-section">
    <mat-icon class="icon" [ngClass]="{ 'disabled': event['pageIndex'] === 1 ? true : false }" [matTooltip]="previousPageTooltip"
              fontIcon="chevron_left" (click)="previousPage()">
    </mat-icon>
    <mat-icon class="icon" [ngClass]="{ 'disabled': event['pageIndex'] === currentPageSize ? true : false }" [matTooltip]="nextPageTooltip"
              fontIcon="chevron_right" (click)="nextPage()">
    </mat-icon>
  </section>
</section>
