.show-password-input {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  position: relative;
  top: -13px;
  left: -39px;
  margin-top: 6px;
}

.show-password-label {
  font-size: 14px;
  font-weight: 500;
  color: brown;
  margin: 0px;
}
