<mat-card class="modal-container">
  <h2 class="title">{{ data.title }}</h2>
  <section>
    <p class="message">{{ data.message }}</p>
  </section>
  <section class="buttons-section">
    @if (data.displayOneButon) {
      <reusable-button [label]="OK_LABEL" (onClick)="onClose()"></reusable-button>
    } @else {
      <reusable-button [label]="YES_LABEL" (onClick)="onConfirm()"></reusable-button>
      <reusable-button [label]="NO_LABEL" func="secondary" (onClick)="onClose()"></reusable-button>
    }
  </section>
</mat-card>
