<section class="userCard">
  <section class="cardHeader">
    <img class="avatar" src="female_user.png" alt='user' />
  </section>
  <section class="cardContent">
    <p class="infoLabel">{{ info }}</p>
    <button-card icon="person_off" [tooltip]="tooltipMessage" (onClick)="selectUser()"></button-card>
    <section class="name">
      <label class="label">{{ name }}</label>
      <p class="property">{{ user['name'] }}</p>
    </section>
    <section class="role">
      <label class="label">{{ role }}</label>
      <p class="property">{{ user['role'] === 'admin' ? adminRole : userRole }}</p>
    </section>
    <section class="email">
      <mat-icon class="icon" fontIcon="mail"></mat-icon>
      <p class="property">{{ user['email'] }}</p>
    </section>
  </section>
</section>
