<form class="form" [formGroup]="registerForm" (ngSubmit)="onRegisterNewUser()">
  <section class="title-container">
    <h2>{{ TITLE }}</h2>
  </section>
  <section class="content-container">
    <input-field type="text" [label]="NAME" [control]="formControls['name']" [width]=260></input-field>
    <input-field type="text" [label]="EMAIL" [control]="formControls['email']" [width]=260></input-field>
    <section class="row">
      <input-field [type]="type" [label]="PASSWORD" [control]="formControls['password']"></input-field>
      <input-field [type]="type" [label]="CONFIRM_PASSWORD" [control]="formControls['passwordConfirm']"></input-field>
    </section>
    <section class="show-password-input">
      <input type="checkbox" (change)="onChangeDisplayPassword()" />
      <p class="show-password-label">{{ SHOW_PASSWORD_LABEL }}</p>
    </section>
  </section>
  <section class="buttons-section">
    <reusable-button type="submit" [label]="SIGN_UP_BUTTON_LABEL"></reusable-button>
    <reusable-button [label]="CANCEL_BUTTON_LABEL" func="secondary" (onClick)="onReset()"></reusable-button>
  </section>
</form>
