<form class="form" [formGroup]="registerForm" (ngSubmit)="onRegisterNewUser()">
  <section class="title-container">
    <h2>{{ TITLE }}</h2>
  </section>
  <section class="content-container">
    <input-field type="text" label="Email" [control]="formControls['email']"></input-field>
    <input-field type="password" label="Password" [control]="formControls['password']"></input-field>
    <reusable-button type="submit" [label]="LABEL"></reusable-button>
    <reusable-button type="button" [label]="CANCEL_LABEL" (onClick)="onReset()"></reusable-button>
  </section>
</form>
